Repository awkweb/react-supabase: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

fix: mismatched supabase versions
  docs/pages/documentation/data/use-select.md
  package.json
  src/hooks/realtime/use-realtime.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

ci: combine workflows
  .github/workflows/main.yaml
  .github/workflows/test.yaml
  package.json
Due: yarn lint:format

chore: bump packages (#20)
  .config/.commitlintrc
  .config/husky/commit-msg
  .config/husky/pre-commit
  .eslintrc
  .github/workflows/main.yaml
  .github/workflows/size.yaml
  .github/workflows/test.yaml
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  .size-limit.json
  docs/pages/documentation/data/use-select.md
  jest.config.ts
  package.json
  src/hooks/realtime/use-realtime.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

v0.1.10
  package.json
Due: yarn lint:format

feat: added select options to useSubscription
  docs/pages/documentation/realtime/use-realtime.md
  src/hooks/realtime/use-realtime.ts
Due: yarn lint:fix, yarn lint:format

feat: pass type to compare fn
  src/hooks/realtime/use-realtime.ts
Due: yarn lint:fix

test: added tests to cover new args
  test/hooks/realtime/__snapshots__/use-realtime.test.tsx.snap
  test/hooks/realtime/use-realtime.test.tsx
Due: yarn lint:fix

docs: update example
  docs/pages/documentation/realtime/use-realtime.md
Due: yarn lint:format

ci: update size
  .github/workflows/main.yaml
  .github/workflows/size.yaml
Due: yarn lint:format

ci: update size (#23)
  .github/workflows/main.yaml
  .github/workflows/size.yaml
Due: yarn lint:format

ci: update size (#23)
  .github/workflows/size.yaml
Due: yarn lint:format

feat: update useRealtime args
  docs/pages/documentation/realtime/use-realtime.md
  src/hooks/realtime/use-realtime.ts
  test/hooks/realtime/use-realtime.test.tsx
Due: yarn lint:fix, yarn lint:format

feat: add default type
  src/hooks/realtime/use-realtime.ts
Due: yarn lint:fix

docs: highlight correct row
  docs/pages/documentation/realtime/use-realtime.md
Due: yarn lint:format

Pass selection options to useRealtme hook (#21)
  docs/pages/documentation/realtime/use-realtime.md
  src/hooks/realtime/use-realtime.ts
  test/hooks/realtime/__snapshots__/use-realtime.test.tsx.snap
  test/hooks/realtime/use-realtime.test.tsx
Due: yarn lint:fix, yarn lint:format

v0.2.0
  package.json
Due: yarn lint:format

update supabase packages
  package.json
  yarn.lock
Due: yarn lint:format

update all deps to latest minor versions
  package.json
  yarn.lock
Due: yarn lint:format

use new ApiError type instead of Error
  src/hooks/auth/use-reset-password.ts
  src/hooks/auth/use-signin.ts
  src/hooks/auth/use-signout.ts
  src/hooks/auth/use-signup.ts
Due: yarn lint:fix

Update deps (#28)
  package.json
  src/hooks/auth/use-reset-password.ts
  src/hooks/auth/use-signin.ts
  src/hooks/auth/use-signout.ts
  src/hooks/auth/use-signup.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

Improved Readability
  docs/pages/documentation/data/use-insert.md
Due: yarn lint:format

Fixed typo on use-auth.md
  docs/pages/recipes/use-auth.md
Due: yarn lint:format

Fixed typo on use-auth.md (#55)
  docs/pages/recipes/use-auth.md
Due: yarn lint:format

Fix a typo in `useAuthStateChange` doc
  docs/pages/documentation/auth/use-auth-state-change.md
Due: yarn lint:format

Fix a typo in `useAuthStateChange` doc (#56)
  docs/pages/documentation/auth/use-auth-state-change.md
Due: yarn lint:format

added captchaToken and data to signup options hook
  src/hooks/auth/use-signup.ts
Due: yarn lint:fix

chore: update copyright
  docs/theme.config.js
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{js,ts,tsx}
  yarn lint:format: any of: *.{json,md,yaml}
